<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.pourrfot.server.repository.CourseGroupMapper">
    <resultMap id="BaseResultMap" type="cn.edu.shu.pourrfot.server.model.CourseGroup">
        <!--@mbg.generated-->
        <!--@Table course_group-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="profile_photo" jdbcType="VARCHAR" property="profilePhoto"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        course_group.id, course_group.create_time, course_group.update_time, course_group.course_id,
        course_group.group_name, course_group.profile_photo
    </sql>

    <select id="selectByStudentIdAndCourseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from course_student
        join course_group on course_student.group_id = course_group.id
        where course_student.student_id = #{studentId}
        and course_group.course_id = #{courseId}
    </select>

    <select id="selectByStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from course_student
        join course_group on course_student.group_id = course_group.id
        where course_student.student_id = #{studentId}
    </select>
</mapper>
