<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.pourrfot.server.repository.CourseMapper">
    <resultMap id="BaseResultMap" type="cn.edu.shu.pourrfot.server.model.Course">
        <!--@mbg.generated-->
        <!--@Table course-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
        <result column="course_code" jdbcType="VARCHAR" property="courseCode"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="class_time" jdbcType="VARCHAR" property="classTime"/>
        <result column="class_location" jdbcType="VARCHAR" property="classLocation"/>
        <result column="term" jdbcType="VARCHAR" property="term"/>
        <result column="profile_photo" jdbcType="VARCHAR" property="profilePhoto"/>
        <result column="grouping_method" jdbcType="OTHER" property="groupingMethod"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        course.id, course.create_time, course.update_time, course.teacher_id, course.course_code, course.course_name,
        course.class_time, course.class_location, course.term, course.profile_photo, course.grouping_method
    </sql>

    <select id="selectByStudentIdWithPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from course_student
                 join course on course.id = course_student.course_id
        where course_student.student_id = #{studentId}
        limit #{startOffset},#{rowCount}
    </select>

    <select id="selectByStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from course_student
                 join course on course.id = course_student.course_id
        where course_student.student_id = #{studentId}
    </select>

    <select id="countByStudentId" resultType="int">
        select count(course.id)
        from course_student
                 join course on course.id = course_student.course_id
        where course_student.student_id = #{studentId}
    </select>
</mapper>
