<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.pourrfot.server.repository.CourseStudentMapper">
    <resultMap id="BaseResultMap" type="cn.edu.shu.pourrfot.server.model.CourseStudent">
        <!--@mbg.generated-->
        <!--@Table course_student-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="total_score" jdbcType="DECIMAL" property="totalScore"/>
        <result column="score_structure" jdbcType="VARCHAR" property="scoreStructure"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, create_time, update_time, student_id, student_name, course_id, group_id, total_score, score_structure
    </sql>
</mapper>
